//Import Style
@import "../font/fontface";
@import "common/common";
@import "common/mixin";

body {
  margin: 0;
  padding: 0;
  font-family: "HLTFont";
  font-size: 20px;
  line-height: 1.4;
  overflow: hidden;
  cursor: url(../image/icon/icon-mouse.png), auto !important;

  &::selection {
    background-color: transparent;
  }
  &::-moz-selection {
    background-color: transparent;
  }
}

area:-webkit-any-link {
  cursor: url(../image/icon/icon-mouse.png), auto !important;
}

#section-1 {
  //display: none;
  background: #fff6f0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 10px solid $green;

  header {
    position: fixed;
    width: calc(100% - 20px);
    padding: 20px;
    top: 10px;
    left: 10px;
    @extend %d-flex;
    align-items: center;
    justify-content: center;

    .col-left {
      margin-right: auto;

      h1 {
        text-transform: uppercase;
        line-height: 20px;
        a {
          color: #777;
        }
      }
    }

    .col-right {
      margin-left: auto;

      a {
        @extend %d-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        span {
          display: block;
          width: 100%;
          text-align: center;
          //font-size: ;
          color: #6c6c6c;
        }
      }
    }
  }

  #btn-mute {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    &.disabled {
      opacity: 0.3;
    }
  }

  #section-content-1 {
    @extend %d-flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .section-content {
      &-title {
        text-align: center;
        font-size: 90px;
        text-transform: uppercase;
        color: $green-text;
        line-height: 1.05;
        position: relative;

        span {
          font-size: 140px;
          display: block;
        }

        &:before {
          content: "";
          position: absolute;
          top: 20px;
          left: -80px;
          width: 70px;
          height: 100px;
          background: url("../image/icon/icon-zoom.png") no-repeat;
          background-size: 64px auto;
        }
      }

      &-subtitle {
        text-align: center;
        font-size: 30px;
        margin: 30px 0;
        color: #6c6c6c;

        a {
          color: #6c6c6c;

          &:hover {
            color: $green-text;
          }
        }
      }

      &-btn {
        button {
          background: transparent url("../image/icon/bg-btn.png") no-repeat;
          background-size: 100%;
          border: none;
          text-transform: uppercase;
          padding: 5px 80px;
          font-family: "HLTFont";
          color: $green-text;
          font-size: 40px;
          display: table;
          margin: 0 auto;
          @include scale(0.9);

          &:hover {
            @include scale(1);
          }
        }
      }
    }
  }

  #section-content-2 {
    @extend %d-flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .section-content {
      &-title {
        text-align: center;
        font-size: 75px;
        text-transform: uppercase;
        color: $green-text;
        line-height: 1.05;
        position: relative;
      }

      &-image {
        img {
          width: 60vw;
          max-width: 750px;
          display: table;
          margin: 20px auto;
        }
      }

      &-btn {
        h4 {
          text-align: center;
          color: #666;
          font-size: 30px;
        }

        ul {
          @extend %d-flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

          li {
            button {
              height: 130px;
              width: 180px;
              display: block;
              background: transparent;
              border: none;
              @include filter(brightness(0) opacity(0.5));
              @include scale(0.9);

              img {
                height: 100%;
                width: auto;
              }

              &:hover {
                @include filter(brightness(1) opacity(1));
                @include scale(1);
              }
            }
          }
        }
      }
    }
  }
}

#section-2 {
  height: 100vh;
  width: 100vw;
  position: relative;

  &.overllay {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  #imgwrapper {
    position: relative;
    height: 100vh;
    width: calc(100vw - 400px);
    overflow: hidden;

    #drag {
      z-index: 3 !important;

      #map-bg {
        display: block;
        height: 100vh;
        max-width: unset;
      }
      #overlay-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 3 !important;

        .overlay-gr {
          &#gr1 {
            .npc {
              max-width: 50px;
              top: 16%;
              left: 11.5%;
              position: absolute;
            }
            .gif {
              max-width: 120px;
              position: absolute;
              top: 13%;
              left: 9%;
              // display: none;
            }
          }

          &#gr2 {
            .npc {
              position: absolute;
              top: 44%;
              left: 22%;
              max-width: 80px;
            }
            .gif {
              max-width: 100px;
              position: absolute;
              top: 43%;
              left: 21.5%;
              // display: none;
            }
          }

          &#gr3 {
            .gif {
              position: absolute;
              max-width: 135px;
              top: 16%;
              left: 30%;
              // display: none;
            }
          }

          &#gr4 {
            .npc {
              position: absolute;
              max-width: 100px;
              top: 10%;
              left: 33%;
            }
            .gif {
              // display: none;
              position: absolute;
              width: 120px;
              top: 9.25%;
              left: 32.5%;
              transform: scale(1.2);
            }
          }

          &#gr5 {
            .npc {
              position: absolute;
              top: 17.5%;
              left: 39.25%;
              width: 170px;
            }
            .gif {
              // display: none;
              position: absolute;
              top: 14.75%;
              left: 39.25%;
              width: 170px;
            }
          }

          &#gr6 {
            .gif {
              // display: none;
              width: 100px;
              top: 30%;
              left: 36%;
              position: absolute;
              transform: scale(1.7);
            }
          }

          &#gr7 {
            .gif {
              // display: none;
              position: absolute;
              width: 130px;
              top: 21.5%;
              left: 46%;
              transform: scale(1.1);
            }
          }

          &#gr8 {
            .npc {
              position: absolute;
              max-width: 90px;
              top: 43%;
              left: 45%;
            }
            .gif {
              // display: none;
              position: absolute;
              max-width: 120px;
              top: 43.5%;
              left: 42.5%;
            }
          }

          &#gr9 {
            .npc {
              position: absolute;
              max-width: 80px;
              top: 54%;
              left: 56%;
            }
            .gif {
              // display: none;
              position: absolute;
              width: 120px;
              top: 52%;
              left: 56%;
              transform: scale(1.5);
            }
          }

          &#gr10 {
            .npc {
              position: absolute;
              max-width: 50px;
              top: 52%;
              left: 70%;
            }
            .gif {
              // display: none;
              position: absolute;
              width: 110px;
              top: 49.5%;
              left: 69%;
              transform: scale(1.5);
            }
          }

          &#gr11 {
            .npc {
              position: absolute;
              max-width: 50px;
              top: 21%;
              left: 78.5%;
            }
            .gif {
              // display: none;
              width: 130px;
              top: 16%;
              left: 75.5%;
              position: absolute;
            }
          }

          &#gr12 {
            .gif {
              // display: none;
              position: absolute;
              width: 80px;
              top: 1%;
              left: 60%;
            }
          }

          &#gr13 {
            .gif {
              // display: none;
              position: absolute;
              top: 83.75%;
              left: 61.5%;
              width: 80px;
            }
          }

          &#gr14 {
            .npc {
              position: absolute;
              width: 60px;
              height: auto;
              top: 72%;
              left: 45%;
            }
            .gif {
              // display: none;
              position: absolute;
              width: 120px;
              top: 72%;
              left: 45%;
            }
          }

          &.active {
            .npc {
              display: none !important;
            }
            .gif {
              display: block !important;
            }
          }
        }
      }
    }
  }

  #tutorial-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 3;
    }

    .btnclose {
      top: 20px;
      right: 20px;
      background: transparent;
      border: none;
      position: absolute;
      z-index: 3;
      @include scale(0.8);

      &:hover {
        @include scale(0.9);
      }
    }

    .tutorial-slider {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      z-index: 4;
      width: 700px;
      max-width: 50vw;

      .swiper-slide {
        .item {
          width: 100%;
          display: block;

          img {
            width: 100%;
            height: auto;
            border-radius: 10px;

            &.pc-img {
              display: block;
            }
            &.mb-img {
              display: none;
            }
          }
        }
      }

      .swiper-pagination {
        bottom: 30px;

        span {
          width: 50px;
          border-radius: 0;
          height: 5px;

          &.swiper-pagination-bullet-active {
            background: $green;
          }
        }
      }

      .tutorial-text {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: calc(100% - 60px);
        @extend %d-flex;
        z-index: 11;

        button {
          background: transparent;
          border: none;
          font-family: "HLTFont";
          font-size: 30px;
          color: #666;
          &:hover {
            color: $green-text;
          }
        }

        li {
          &:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }

  #result-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    // z-index: 99;
    z-index: 3;
    height: 100vh;
    max-width: 30vw;
    width: 400px;
    @extend %d-flex;
    // padding: 50px 0;
    padding: 30px 0;
    //align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    h3 {
      font-size: 30px;
      font-weight: inherit;
      color: #6c6c6c;
      margin-bottom: 20px;
    }

    .result-img {
      width: 250px;
      height: 250px;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      // margin: 50px 0;
      margin-bottom: 30px;
    }

    .result-group {
      max-height: 45vh;
      margin-right: 20px;

      ul {
        margin: 0 30px;

        li {
          padding: 15px 20px;
          background: #ebebeb;
          border-radius: 20px 20px 20px 0;
          margin: 0 0 20px 0;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -10px;
            width: 12px;
            height: 12px;
            background: url("../image/icon/bf-li.png") no-repeat;
            opacity: 0.2;
            z-index: -1;
          }

          // &:hover {
          //   background: #c7c7c7;

          //   &:before {
          //     opacity: 0.5;
          //   }
          // }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  #result-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    .btnclose {
      top: 20px;
      right: 20px;
      background: transparent;
      border: none;
      position: fixed;
      z-index: 10;
      @include scale(0.8);

      &:hover {
        @include scale(0.9);
      }
    }
  }

  #result-form {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    z-index: 20;
    width: 700px;
    max-width: 50vw;
    max-height: 40vh;
    background: #fff6f0;
    border-radius: 20px;
    height: 300px;

    .result-form {
      &-img {
        background-color: #fff;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        @include translate(30px, -30%);
      }

      &-content {
        position: absolute;
        top: 30px;
        left: 280px;

        h3 {
          color: $green-text;
          text-transform: uppercase;
          font-weight: inherit;
          font-size: 35px;
        }

        h4 {
          color: #b4b4b4;
          font-weight: lighter;
        }
      }
    }

    form {
      position: absolute;
      max-width: 100%;
      width: 350px;
      bottom: 7%;
      left: 50%;
      @include translate(-50%, 0);

      input {
        width: 100%;
        border: none;
        background: transparent url("../image/icon/bg-input.png") no-repeat;
        background-size: 100% 100%;
        padding: 0 20px;
        font-family: "HLTFont";
        font-size: 25px;
        color: #666;
        height: 50px;
      }

      button {
        font-family: "HLTFont";
        font-size: 20px;
        margin: 10px auto;
        background: transparent;
        color: $green-text;
        border: none;
        border-bottom: 1px solid $green-text;
        display: table;
      }
    }
  }
}

/*Responsive*/

@media (max-width: 1600px) and (max-height: 900px) {
  #section-1 {
    #section-content-1 {
      .section-content-title {
        font-size: 80px;
        span {
          font-size: 120px;
        }
      }
    }
    #section-content-2 {
      .section-content-image {
        img {
          width: 50vw;
          max-width: 550px;
        }
      }
    }
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #section-1 {
    #section-content-1 {
      .section-content-title {
        font-size: 70px;
        span {
          font-size: 100px;
        }
      }
    }
    #section-content-2 {
      .section-content-title {
        font-size: 60px;
      }
      .section-content-image {
        img {
          width: 40vw;
          max-width: 400px;
        }
      }
    }
  }
  #section-2 {
    #result-form {
      max-height: 55vh;
    }
    #imgwrapper {
      #drag {
        #overlay-wrapper {
          .overlay-gr {
            &#gr1 {
              .npc {
                transform: scale(0.7);
                left: 10.75%;
              }
              .gif {
                top: 12%;
                left: 8%;
                transform: scale(0.7);
              }
            }
            &#gr2 {
              .npc {
                transform: scale(0.7);
                left: 21.25%;
              }
              .gif {
                left: 21%;
                top: 41.85%;
                transform: scale(0.7);
              }
            }
            &#gr3 {
              .gif {
                top: 14%;
                left: 29.25%;
                transform: scale(0.85);
              }
            }
            &#gr4 {
              .npc {
                top: 9%;
                left: 32.75%;
                transform: scale(0.7);
              }
              .gif {
                top: 7%;
                left: 31.5%;
                transform: scale(1);
              }
            }
            &#gr5 {
              .npc {
                top: 15.75%;
                left: 38.35%;
                transform: scale(0.8);
              }
              .gif {
                top: 12.75%;
                left: 38.35%;
                transform: scale(0.8);
              }
            }
            &#gr6 {
              .gif {
                top: 28%;
                left: 35%;
                transform: scale(0.8);
              }
            }
            &#gr7 {
              .gif {
                top: 19.75%;
                left: 45.5%;
                transform: scale(0.9);
              }
            }
            &#gr8 {
              .npc {
                top: 41.5%;
                left: 44.5%;
                transform: scale(0.8);
              }
              .gif {
                top: 41.5%;
                left: 41.5%;
                transform: scale(0.8);
              }
            }
            &#gr9 {
              .npc {
                top: 51.5%;
                left: 56%;
                transform: scale(0.8);
              }
              .gif {
                top: 45.75%;
                left: 55%;
                transform: scale(0.8);
              }
            }
            &#gr10 {
              .npc {
                top: 50.5%;
                left: 70%;
                transform: scale(0.8);
              }
              .gif {
                top: 46.5%;
                left: 68%;
                transform: scale(0.8);
              }
            }
            &#gr11 {
              .npc {
                top: 20%;
                left: 78%;
                transform: scale(0.8);
              }
              .gif {
                top: 14%;
                left: 74.5%;
                transform: scale(0.8);
              }
            }
            &#gr12 {
              .gif {
                top: -1%;
                left: 59%;
                transform: scale(0.8);
              }
            }
            &#gr13 {
              .gif {
                top: 82.5%;
                left: 61%;
                transform: scale(0.9);
              }
            }
            &#gr14 {
              .npc {
                top: 71%;
                transform: scale(0.8);
              }
              .gif {
                top: 71%;
                transform: scale(0.8);
              }
            }
          }
        }
      }
    }
  }
}

// Vinh Responsive code
@media (max-width: 767px) {
  #section-1 {
    header {
      .col-left {
        h1 {
          font-size: 17px;
          line-height: 1;
        }
      }
      .col-right {
        a {
          img {
            width: 40px;
          }
          span {
            font-size: 17px;
          }
        }
      }
    }
    #section-content-1 {
      width: 100%;
      height: 100%;

      .section-content {
        .section-content-title {
          font-size: 50px;

          span {
            font-size: 80px;
          }

          &::before {
            top: -50px;
            left: 50%;
            width: 25px;
            height: 40px;
            background-size: 100% 100%;
            transform: translateX(-50%);
          }
        }
        .section-content-subtitle {
          font-size: 25px;
          margin: 15px 0;
        }
        .section-content-btn {
          button {
            padding: 5px 70px;
            font-size: 35px;
          }
        }
      }
    }
    #btn-mute {
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 25px;
      }
    }
    #section-content-2 {
      width: 100%;
      height: 100%;

      .section-content {
        padding-top: 8vh;

        .section-content-title {
          font-size: 45px;
        }
        .section-content-image {
          width: 85vw;
          max-width: 700px;
          margin: 0 auto;

          img {
            width: 100%;
            max-width: unset;
          }
        }
        .section-content-btn {
          h4 {
            font-size: 25px;
          }
        }
      }
    }
  }

  #section-2 {
    #tutorial-wrapper {
      .tutorial-slider {
        width: 75vw;
        max-width: 500px;
        height: 75vh;
        max-height: 600px;

        .swiper-container {
          height: 100%;

          .swiper-wrapper {
            .swiper-slide {
              width: 100% !important;

              .item {
                height: 100%;
                img {
                  height: 100%;

                  &.pc-img {
                    display: none;
                  }
                  &.mb-img {
                    display: block;
                  }
                }
              }
            }
          }
          .swiper-pagination {
            span {
              width: 40px;
            }
          }
          .tutorial-text {
            width: calc(100% - 50px);
            li {
              button {
                font-size: 25px;
              }
            }
          }
        }
      }
      .btnclose {
        visibility: hidden;
        &:hover {
          @include scale(0.8);
        }
      }
    }
    #result-wrapper {
      width: 100vw;
      max-width: unset;
      padding: 20px 0;
      height: 60vh;
      top: unset;
      bottom: 0;
      transform: translateY(50vh);
      transition: all 0.5s;

      h3 {
        font-size: 25px;
      }
      .result-img {
        display: none;
        width: 200px;
        height: 200px;
        margin: 30px 0;
      }
      .result-group {
        width: 90%;
        margin-right: 0;
      }

      &.collapse {
        transform: translateY(0);
        transition: all 0.5s;
      }
    }
    #result-container {
      #result-form {
        max-height: 500px;
        height: 70vh;
        max-width: 400px;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .result-form-img {
          transform: none;
          width: 150px;
          height: 150px;
          margin: 0 auto;
        }
        .result-form-content {
          position: static;
          text-align: center;
          margin: 20px 0;
          padding: 0px 15px;

          h3 {
            font-size: 25px;
          }
        }
        #form-frame5-submit {
          position: static;
          transform: none;
          padding: 0 15px;
        }
      }
      .btnclose {
        transform: translateY(-50%) scale(0.6);
        top: calc(50% - 240px);
        right: 0;
        z-index: 21;
      }
    }
    #imgwrapper {
      width: 100%;
    }
  }
}

@media (max-width: 767px) and (max-height: 680px) {
  #section-2 {
    #imgwrapper {
      #drag {
        #overlay-wrapper {
          .overlay-gr {
            &#gr1 {
              .npc {
                top: 17%;
                left: 11.75%;
                transform: scale(0.7);
              }
              .gif {
                top: 13.5%;
                left: 9%;
                transform: scale(0.7);
              }
            }
            &#gr2 {
              .npc {
                top: 43.75%;
                left: 21.75%;
                transform: scale(0.8);
              }
              .gif {
                top: 42%;
                left: 21.25%;
                transform: scale(0.8);
              }
            }
            &#gr3 {
              .gif {
                top: 15%;
                left: 29.5%;
                transform: scale(0.9);
              }
            }
            &#gr4 {
              .npc {
                top: 9.75%;
                left: 33%;
                transform: scale(0.7);
              }
              .gif {
                top: 7.75%;
                left: 32%;
                transform: scale(1);
              }
            }
            &#gr5 {
              .npc {
                top: 16.25%;
                left: 38.75%;
                transform: scale(10.9);
              }
              .gif {
                top: 13%;
                left: 38.75%;
                transform: scale(0.9);
              }
            }
            &#gr6 {
              .npc {
              }
              .gif {
                top: 31%;
                left: 36%;
                transform: scale(1.5);
              }
            }
            &#gr7 {
              .gif {
                top: 20.5%;
                left: 45.75%;
                transform: scale(0.9);
              }
            }
            &#gr8 {
              .npc {
                top: 42.5%;
                left: 45%;
                transform: scale(0.9);
              }
              .gif {
                top: 42.5%;
                left: 42%;
                transform: scale(0.9);
              }
            }
            &#gr9 {
              .npc {
                top: 52.5%;
                left: 55.75%;
                transform: scale(0.9);
              }
              .gif {
                top: 50.5%;
                left: 55.5%;
                transform: scale(1.3);
              }
            }
            &#gr10 {
              .npc {
                top: 50.5%;
                left: 70%;
              }
              .gif {
                top: 48.5%;
                left: 68.5%;
                transform: scale(1.3);
              }
            }
            &#gr11 {
              .npc {
                top: 23%;
                left: 79%;
              }
              .gif {
                top: 16%;
                left: 75%;
                transform: scale(1);
              }
            }
            &#gr12 {
              .gif {
                transform: scale(1);
              }
            }
            &#gr13 {
              .gif {
                transform: scale(1.1);
              }
            }
            &#gr14 {
              .npc {
                top: 73%;
                left: 46%;
                transform: scale(1.1);
              }
              .gif {
                top: 72%;
                left: 45.65%;
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) and (max-height: 768px) {
}

@media (min-width: 1200px) and (max-width: 1300px) {
  #section-2 {
    #imgwrapper {
      #drag {
        #overlay-wrapper {
          .overlay-gr {
            &#gr1 {
              .npc {
                top: 17%;
                left: 11.75%;
                transform: scale(0.9);
              }
              .gif {
                top: 14%;
                left: 9.5%;
                transform: scale(0.9);
              }
            }
            &#gr2 {
              .npc {
                top: 45.75%;
                left: 22%;
              }
              .gif {
                top: 44.75%;
                left: 21.75%;
              }
            }
            &#gr3 {
              .gif {
                top: 17.5%;
                left: 30.5%;
                transform: scale(1.2);
              }
            }
            &#gr4 {
              .npc {
                top: 12%;
                left: 33.75%;
                transform: scale(0.9);
              }
              .gif {
                top: 10.25%;
                left: 32.75%;
                transform: scale(1.3);
              }
            }
            &#gr5 {
              .npc {
                top: 19%;
                left: 40%;
                transform: scale(1.1);
              }
              .gif {
                top: 16.75%;
                left: 40%;
                transform: scale(1.1);
              }
            }
            &#gr6 {
              .npc {
              }
              .gif {
              }
            }
            &#gr7 {
              .gif {
                top: 23%;
                left: 46.5%;
                transform: scale(1.2);
              }
            }
            &#gr8 {
              .npc {
                top: 44%;
                left: 45%;
              }
              .gif {
                top: 44.5%;
                left: 42.5%;
              }
            }
            &#gr9 {
              .npc {
                top: 55.75%;
                left: 56.24%;
                transform: scale(1.1);
              }
              .gif {
                top: 50%;
                left: 56.1%;
                transform: scale(1.1);
              }
            }
            &#gr10 {
              .npc {
                top: 52.5%;
                left: 70.5%;
              }
              .gif {
                top: 48%;
                left: 69%;
                transform: scale(1.1);
              }
            }
            &#gr11 {
              .npc {
                top: 23%;
                left: 79%;
              }
              .gif {
                top: 16.5%;
                left: 76%;
                transform: scale(1.1);
              }
            }
            &#gr12 {
              .gif {
                transform: scale(1.2);
              }
            }
            &#gr13 {
              .gif {
                transform: scale(1.1);
              }
            }
            &#gr14 {
              .npc {
                top: 73%;
                left: 46%;
                transform: scale(1.1);
              }
              .gif {
                top: 73%;
                left: 46%;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1900px) and (max-width: 2000px) {
  #section-2 {
    #imgwrapper {
      #drag {
        #overlay-wrapper {
          .overlay-gr {
            &#gr1 {
              .npc {
                top: 17%;
                left: 11.75%;
                transform: scale(1.1);
              }
              .gif {
                top: 14%;
                left: 9.5%;
                transform: scale(1.1);
              }
            }
            &#gr2 {
              .npc {
                top: 45.5%;
                left: 22%;
                transform: scale(1.1);
              }
              .gif {
                top: 44%;
                left: 22%;
                transform: scale(1.1);
              }
            }
            &#gr3 {
              .gif {
                top: 17.5%;
                left: 30.5%;
                transform: scale(1.2);
              }
            }
            &#gr4 {
              .npc {
                top: 11.5%;
                left: 33.5%;
                transform: scale(1.1);
              }
              .gif {
                top: 10.5%;
                left: 32.85%;
                transform: scale(1.4);
              }
            }
            &#gr5 {
              .npc {
                top: 18.75%;
                left: 40%;
                transform: scale(1.2);
              }
              .gif {
                top: 16.5%;
                left: 40%;
                transform: scale(1.2);
              }
            }
            &#gr6 {
              .gif {
                transform: scale(1.1);
              }
            }
            &#gr7 {
              .gif {
                top: 23%;
                left: 46.5%;
                transform: scale(1.3);
              }
            }
            &#gr8 {
              .npc {
                top: 44%;
                left: 45%;
                transform: scale(1.1);
              }
              .gif {
                top: 45.5%;
                left: 42.5%;
                transform: scale(1.1);
              }
            }
            &#gr9 {
              .npc {
                top: 55.5%;
                left: 56.25%;
                transform: scale(1.1);
              }
              .gif {
                top: 50%;
                left: 56.1%;
                transform: scale(1.1);
              }
            }
            &#gr10 {
              .npc {
                top: 53%;
                left: 70.5%;
                transform: scale(1.1);
              }
              .gif {
                top: 48%;
                left: 69%;
                transform: scale(1.2);
              }
            }
            &#gr11 {
              .gif {
                top: 16.5%;
                left: 76%;
                transform: scale(1.1);
              }
            }
            &#gr12 {
              .gif {
                transform: scale(1.2);
              }
            }
            &#gr13 {
              .gif {
                top: 84.25%;
                left: 61.5%;
                transform: scale(1.2);
              }
            }
            &#gr14 {
              .npc {
                top: 73%;
                left: 45.5%;
                transform: scale(1.2);
              }
              .gif {
                top: 73%;
                left: 45.5%;
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 2001px) {
  #section-2 {
    #imgwrapper {
      #drag {
        #overlay-wrapper {
          .overlay-gr {
            &#gr1 {
              .npc {
                top: 19%;
                left: 12.5%;
                transform: scale(1.5);
              }
              .gif {
                top: 17%;
                left: 11%;
                transform: scale(1.5);
              }
            }
            &#gr2 {
              .npc {
                top: 47.5%;
                left: 22.5%;
                transform: scale(1.7);
              }
              .gif {
                top: 46.5%;
                left: 22.75%;
                transform: scale(1.7);
              }
            }
            &#gr3 {
              .gif {
                top: 21%;
                left: 31.75%;
                transform: scale(1.9);
              }
            }
            &#gr4 {
              .npc {
                top: 15%;
                left: 34.5%;
                transform: scale(1.6);
              }
              .gif {
                top: 13.25%;
                left: 33.75%;
                transform: scale(2.1);
              }
            }
            &#gr5 {
              .npc {
                top: 22%;
                left: 41.25%;
                transform: scale(1.8);
              }
              .gif {
                top: 20%;
                left: 41.25%;
                transform: scale(1.8);
              }
            }
            &#gr6 {
              .gif {
                transform: scale(1.7);
                top: 33%;
                left: 37%;
              }
            }
            &#gr7 {
              .gif {
                top: 26.25%;
                left: 47.75%;
                transform: scale(2);
              }
            }
            &#gr8 {
              .npc {
                top: 47%;
                left: 46%;
                transform: scale(1.7);
              }
              .gif {
                top: 48.5%;
                left: 43.5%;
                transform: scale(1.8);
              }
            }
            &#gr9 {
              .npc {
                top: 58%;
                left: 56.85%;
                transform: scale(1.8);
              }
              .gif {
                top: 54%;
                left: 57.25%;
                transform: scale(1.9);
              }
            }
            &#gr10 {
              .npc {
                top: 54.5%;
                left: 70.5%;
                transform: scale(1.7);
              }
              .gif {
                top: 51%;
                left: 70%;
                transform: scale(2);
              }
            }
            &#gr11 {
              .npc {
                top: 24%;
                left: 78.75%;
                transform: scale(1.7);
              }
              .gif {
                top: 20%;
                left: 77.5%;
                transform: scale(1.9);
              }
            }
            &#gr12 {
              .gif {
                top: 3%;
                left: 60.5%;
                transform: scale(1.9);
              }
            }
            &#gr13 {
              .gif {
                top: 86.25%;
                left: 62.25%;
                transform: scale(1.9);
              }
            }
            &#gr14 {
              .npc {
                top: 76%;
                left: 46.5%;
                transform: scale(1.8);
              }
              .gif {
                top: 76%;
                left: 46.5%;
                transform: scale(1.8);
              }
            }
          }
        }
      }
    }
  }
}
