@font-face {
  font-family: "HLTFont";
  src: url("../font/HLT Fall For You.ttf");
  font-weight: normal;
  font-style: normal;
}

*[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .5;
}

* {
  outline: none !important;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a, button {
  cursor: url(../image/icon/icon-mouse.png), auto;
}

#section-1 header, #section-1 header .col-right a, #section-1 #section-content-1, #section-1 #section-content-2, #section-1 #section-content-2 .section-content-btn ul, #section-2 #tutorial-wrapper .tutorial-slider .tutorial-text, #section-2 #result-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: #0d4ca1;
}

a:hover {
  color: #b0cb88;
}

.cb {
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

img {
  max-width: 100%;
  height: auto;
}

/*--------Mixin--------*/
body {
  margin: 0;
  padding: 0;
  font-family: "HLTFont";
  font-size: 20px;
  line-height: 1.4;
  overflow: hidden;
  cursor: url(../image/icon/icon-mouse.png), auto;
}

body::-moz-selection {
  background-color: transparent;
}

body::selection {
  background-color: transparent;
}

body::-moz-selection {
  background-color: transparent;
}

area:-webkit-any-link {
  cursor: url(../image/icon/icon-mouse.png), auto;
}

#section-1 {
  background: #fff6f0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 10px solid #b0cb88;
}

#section-1 header {
  position: fixed;
  width: calc(100% - 20px);
  padding: 20px;
  top: 10px;
  left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-1 header .col-left {
  margin-right: auto;
}

#section-1 header .col-left h1 {
  text-transform: uppercase;
  line-height: 20px;
}

#section-1 header .col-left h1 a {
  color: #777;
}

#section-1 header .col-right {
  margin-left: auto;
}

#section-1 header .col-right a {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-1 header .col-right a span {
  display: block;
  width: 100%;
  text-align: center;
  color: #6c6c6c;
}

#section-1 #btn-mute {
  background: transparent;
  border: none;
  position: fixed;
  bottom: 30px;
  left: 30px;
}

#section-1 #btn-mute.disabled {
  opacity: 0.3;
}

#section-1 #section-content-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

#section-1 #section-content-1 .section-content-title {
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
  color: #6b8742;
  line-height: 1.05;
  position: relative;
}

#section-1 #section-content-1 .section-content-title span {
  font-size: 140px;
  display: block;
}

#section-1 #section-content-1 .section-content-title:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -80px;
  width: 70px;
  height: 100px;
  background: url("../image/icon/icon-zoom.png") no-repeat;
  background-size: 64px auto;
}

#section-1 #section-content-1 .section-content-subtitle {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
  color: #6c6c6c;
}

#section-1 #section-content-1 .section-content-subtitle a {
  color: #6c6c6c;
}

#section-1 #section-content-1 .section-content-subtitle a:hover {
  color: #6b8742;
}

#section-1 #section-content-1 .section-content-btn button {
  background: transparent url("../image/icon/bg-btn.png") no-repeat;
  background-size: 100%;
  border: none;
  text-transform: uppercase;
  padding: 5px 80px;
  font-family: "HLTFont";
  color: #6b8742;
  font-size: 40px;
  display: table;
  margin: 0 auto;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#section-1 #section-content-1 .section-content-btn button:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#section-1 #section-content-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

#section-1 #section-content-2 .section-content-title {
  text-align: center;
  font-size: 75px;
  text-transform: uppercase;
  color: #6b8742;
  line-height: 1.05;
  position: relative;
}

#section-1 #section-content-2 .section-content-image img {
  width: 60vw;
  max-width: 750px;
  display: table;
  margin: 20px auto;
}

#section-1 #section-content-2 .section-content-btn h4 {
  text-align: center;
  color: #666;
  font-size: 30px;
}

#section-1 #section-content-2 .section-content-btn ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#section-1 #section-content-2 .section-content-btn ul li button {
  height: 130px;
  width: 180px;
  display: block;
  background: transparent;
  border: none;
  -webkit-filter: brightness(0) opacity(0.5);
  -moz-filter: brightness(0) opacity(0.5);
  -ms-filter: brightness(0) opacity(0.5);
  -o-filter: brightness(0) opacity(0.5);
  filter: brightness(0) opacity(0.5);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#section-1 #section-content-2 .section-content-btn ul li button img {
  height: 100%;
  width: auto;
}

#section-1 #section-content-2 .section-content-btn ul li button:hover {
  -webkit-filter: brightness(1) opacity(1);
  -moz-filter: brightness(1) opacity(1);
  -ms-filter: brightness(1) opacity(1);
  -o-filter: brightness(1) opacity(1);
  filter: brightness(1) opacity(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

#section-2 {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#section-2.overllay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}

#section-2 #myPanoramix {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: calc(100vw - 400px);
}

#section-2 #myPanoramix img {
  height: 100vh;
  display: block;
  width: auto;
  max-width: inherit;
  left: 0;
}

#section-2 #map area {
  width: 20px;
  height: 20px;
  background: red;
  cursor: url(../image/icon/icon-mouse.png), auto;
}

#section-2 #map area.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#section-2 #tutorial-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
}

#section-2 #tutorial-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

#section-2 #tutorial-wrapper .btnclose {
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  position: absolute;
  z-index: 3;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#section-2 #tutorial-wrapper .btnclose:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#section-2 #tutorial-wrapper .tutorial-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 700px;
  max-width: 50vw;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-slide .item {
  width: 100%;
  display: block;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-slide .item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-slide .item img.pc-img {
  display: block;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-slide .item img.mb-img {
  display: none;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-pagination {
  bottom: 30px;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-pagination span {
  width: 50px;
  border-radius: 0;
  height: 5px;
}

#section-2 #tutorial-wrapper .tutorial-slider .swiper-pagination span.swiper-pagination-bullet-active {
  background: #b0cb88;
}

#section-2 #tutorial-wrapper .tutorial-slider .tutorial-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  z-index: 11;
}

#section-2 #tutorial-wrapper .tutorial-slider .tutorial-text button {
  background: transparent;
  border: none;
  font-family: "HLTFont";
  font-size: 30px;
  color: #666;
}

#section-2 #tutorial-wrapper .tutorial-slider .tutorial-text button:hover {
  color: #6b8742;
}

#section-2 #tutorial-wrapper .tutorial-slider .tutorial-text li:last-child {
  margin-left: auto;
}

#section-2 #result-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 3;
  height: 100vh;
  max-width: 30vw;
  width: 400px;
  padding: 50px 0;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section-2 #result-wrapper h3 {
  font-size: 30px;
  font-weight: inherit;
  color: #6c6c6c;
  margin-bottom: 20px;
}

#section-2 #result-wrapper .result-img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

#section-2 #result-wrapper .result-group {
  max-height: 45vh;
  margin-right: 20px;
}

#section-2 #result-wrapper .result-group ul {
  margin: 0 30px;
}

#section-2 #result-wrapper .result-group ul li {
  padding: 20px;
  background: #ebebeb;
  border-radius: 20px 20px 20px 0;
  margin: 0 0 20px 0;
  position: relative;
}

#section-2 #result-wrapper .result-group ul li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 12px;
  height: 12px;
  background: url("../image/icon/bf-li.png") no-repeat;
  opacity: 0.2;
  z-index: -1;
}

#section-2 #result-wrapper .result-group ul li:last-child {
  margin-bottom: 0;
}

#section-2 #result-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

#section-2 #result-container .btnclose {
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  position: fixed;
  z-index: 10;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

#section-2 #result-container .btnclose:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

#section-2 #result-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 700px;
  max-width: 50vw;
  max-height: 40vh;
  background: #fff6f0;
  border-radius: 20px;
  height: 300px;
}

#section-2 #result-form .result-form-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: translate(30px, -30%);
  transform: translate(30px, -30%);
}

#section-2 #result-form .result-form-content {
  position: absolute;
  top: 30px;
  left: 280px;
}

#section-2 #result-form .result-form-content h3 {
  color: #6b8742;
  text-transform: uppercase;
  font-weight: inherit;
  font-size: 35px;
}

#section-2 #result-form .result-form-content h4 {
  color: #b4b4b4;
  font-weight: lighter;
}

#section-2 #result-form form {
  position: absolute;
  max-width: 100%;
  width: 350px;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#section-2 #result-form form input {
  width: 100%;
  border: none;
  background: transparent url("../image/icon/bg-input.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 20px;
  font-family: "HLTFont";
  font-size: 25px;
  color: #666;
  height: 50px;
}

#section-2 #result-form form button {
  font-family: "HLTFont";
  font-size: 20px;
  margin: 10px auto;
  background: transparent;
  color: #6b8742;
  border: none;
  border-bottom: 1px solid #6b8742;
  display: table;
}

/*Responsive*/
@media (max-width: 1600px) and (max-height: 900px) {
  #section-1 #section-content-1 .section-content-title {
    font-size: 80px;
  }
  #section-1 #section-content-1 .section-content-title span {
    font-size: 120px;
  }
  #section-1 #section-content-2 .section-content-image img {
    width: 50vw;
    max-width: 550px;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  #section-1 #section-content-1 .section-content-title {
    font-size: 70px;
  }
  #section-1 #section-content-1 .section-content-title span {
    font-size: 100px;
  }
  #section-1 #section-content-2 .section-content-title {
    font-size: 60px;
  }
  #section-1 #section-content-2 .section-content-image img {
    width: 40vw;
    max-width: 400px;
  }
  #section-2 #result-form {
    max-height: 55vh;
  }
}

@media (max-width: 767px) {
  #section-1 header .col-left h1 {
    font-size: 17px;
    line-height: 1;
  }
  #section-1 header .col-right a img {
    width: 40px;
  }
  #section-1 header .col-right a span {
    font-size: 17px;
  }
  #section-1 #section-content-1 {
    width: 100%;
    height: 100%;
  }
  #section-1 #section-content-1 .section-content .section-content-title {
    font-size: 50px;
  }
  #section-1 #section-content-1 .section-content .section-content-title span {
    font-size: 80px;
  }
  #section-1 #section-content-1 .section-content .section-content-title::before {
    top: -50px;
    left: 50%;
    width: 25px;
    height: 40px;
    background-size: 100% 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section-1 #section-content-1 .section-content .section-content-subtitle {
    font-size: 25px;
    margin: 15px 0;
  }
  #section-1 #section-content-1 .section-content .section-content-btn button {
    padding: 5px 70px;
    font-size: 35px;
  }
  #section-1 #btn-mute {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section-1 #btn-mute img {
    width: 25px;
  }
  #section-1 #section-content-2 {
    width: 100%;
    height: 100%;
  }
  #section-1 #section-content-2 .section-content {
    padding-top: 8vh;
  }
  #section-1 #section-content-2 .section-content .section-content-title {
    font-size: 45px;
  }
  #section-1 #section-content-2 .section-content .section-content-image {
    width: 85vw;
    max-width: 700px;
  }
  #section-1 #section-content-2 .section-content .section-content-image img {
    width: 100%;
    max-width: unset;
  }
  #section-1 #section-content-2 .section-content .section-content-btn h4 {
    font-size: 25px;
  }
  #section-2 #tutorial-wrapper .tutorial-slider {
    width: 75vw;
    max-width: 500px;
    height: 75vh;
    max-height: 600px;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container {
    height: 100%;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .swiper-wrapper .swiper-slide {
    width: 100% !important;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .swiper-wrapper .swiper-slide .item {
    height: 100%;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .swiper-wrapper .swiper-slide .item img {
    height: 100%;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .swiper-wrapper .swiper-slide .item img.pc-img {
    display: none;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .swiper-wrapper .swiper-slide .item img.mb-img {
    display: block;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .swiper-pagination span {
    width: 40px;
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .tutorial-text {
    width: calc(100% - 50px);
  }
  #section-2 #tutorial-wrapper .tutorial-slider .swiper-container .tutorial-text li button {
    font-size: 25px;
  }
  #section-2 #tutorial-wrapper .btnclose {
    visibility: hidden;
  }
  #section-2 #result-wrapper {
    width: 100vw;
    max-width: unset;
  }
  #section-2 #result-wrapper h3 {
    font-size: 25px;
  }
  #section-2 #result-wrapper .result-img {
    width: 200px;
    height: 200px;
    margin: 30px 0;
  }
  #section-2 #result-wrapper .result-group {
    width: 90%;
    margin-right: 0;
  }
  #section-2 #result-container #result-form {
    max-height: 500px;
    height: 70vh;
    max-width: 400px;
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section-2 #result-container #result-form .result-form-img {
    -webkit-transform: none;
            transform: none;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  #section-2 #result-container #result-form .result-form-content {
    position: static;
    text-align: center;
    margin: 20px 0;
    padding: 0 15px;
  }
  #section-2 #result-container #result-form #form-submit {
    position: static;
    -webkit-transform: none;
            transform: none;
    padding: 0 15px;
  }
  #section-2 #result-container .btnclose {
    -webkit-transform: translateY(-50%) scale(0.7);
            transform: translateY(-50%) scale(0.7);
    top: calc(50% - 240px);
    z-index: 21;
  }
}
/*# sourceMappingURL=mainstyle.css.map */